

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.selected {
  color: red;
}

/* @media (min-width: 500px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

.check-container {
    display: block;
    position: relative;
    background-color: #ccc;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.check-container:not(:last-child) {
    margin-bottom: 10px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}



.check-container:hover  {
    background-color: #d087ed;
}

.check-container.label-checked {
    background-color:rgb(126, 26, 226);
}

.card {
    max-width: 400px;
    height: 100vh;
    padding: 20px 20px 20px 20px;
    position: relative;
    background-color: rgb(153, 17, 17);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    opacity: 1;
    color: rgb(225, 226, 238);
    line-height: 49px;
    overflow-y: auto;
  }
  
  label {
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: rgb(3, 2, 13);
      margin-bottom: 10px;
  }

.survey-title {
    font-size: 25px;
    color: rgb(96, 96, 228);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
    top: 10px;
    left: 70px;
}

.survey-question:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background: rgba(228, 186, 228, 0.89);
}

.survey-background{
    position: center;
    background-image: url('./Survey.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    height: 600px;

}

.thankyou{
    max-width: 400px;
    
    height: 50vh;
    padding: 20px 20px 20px 20px;
    position: relative;
    background-color: rgb(153, 17, 17);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    opacity: 1;
    color: rgb(225, 226, 238);
    line-height: 49px;
    overflow-y: auto;
}
