.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.selected {
  color: red;
}

@media (min-width: 500px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

card {
    max-width: 400px;
    height: 100vh;
    padding: 20px 20px 20px 20px;
    position: relative;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    opacity: 1;
    color: #000;
    line-height: 49px;
    overflow-y: auto;
  }
  
  label {
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: rgb(3, 2, 13);
      margin-bottom: 10px;
  }

.survey-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
    top: 10px;
    left: 70px;
}

.survey-question:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background: rgba(153, 150, 153, 0.89);
}

